.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.logoImg {
  height: 50px; /* או הגובה שאת רוצה */
  width: auto; /* יחס הגובה-רוחב נשמר */
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #f8a300;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: #f8a300;
  color: white !important;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
}
